@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/demi/AvenirNextLTPro-Demi.eot');
  src: url('/assets/fonts/Avenir/demi/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Avenir/demi/AvenirNextLTPro-Demi.woff2') format('woff2'),
       url('/assets/fonts/Avenir/demi/AvenirNextLTPro-Demi.woff') format('woff'),
       url('/assets/fonts/Avenir/demi/AvenirNextLTPro-Demi.ttf') format('truetype'),
       url('/assets/fonts/Avenir/demi/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/medium/AvenirNextLTPro-Medium.eot');
  src: url('/assets/fonts/Avenir/medium/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Avenir/medium/AvenirNextLTPro-Medium.woff2') format('woff2'),
       url('/assets/fonts/Avenir/medium/AvenirNextLTPro-Medium.woff') format('woff'),
       url('/assets/fonts/Avenir/medium/AvenirNextLTPro-Medium.ttf') format('truetype'),
       url('/assets/fonts/Avenir/medium/AvenirNextLTPro-Medium.svg#AvenirNextLTPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/regular/AvenirNextLTPro-Regular.eot');
  src: url('/assets/fonts/Avenir/regular/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Avenir/regular/AvenirNextLTPro-Regular.woff2') format('woff2'),
       url('/assets/fonts/Avenir/regular/AvenirNextLTPro-Regular.woff') format('woff'),
       url('/assets/fonts/Avenir/regular/AvenirNextLTPro-Regular.ttf') format('truetype'),
       url('/assets/fonts/Avenir/regular/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/assets/fonts/Avenir/thin/AvenirNextLTPro-Thin.eot');
  src: url('/assets/fonts/Avenir/thin/AvenirNextLTPro-Thin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Avenir/thin/AvenirNextLTPro-Thin.woff2') format('woff2'),
       url('/assets/fonts/Avenir/thin/AvenirNextLTPro-Thin.woff') format('woff'),
       url('/assets/fonts/Avenir/thin/AvenirNextLTPro-Thin.ttf') format('truetype'),
       url('/assets/fonts/Avenir/thin/AvenirNextLTPro-Thin.svg#AvenirNextLTPro-Thin') format('svg');
  font-weight: 300;
  font-style: normal;
}